body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark nav {
    background-color: #333333;
}

body.dark button {
    border-color: #ffffff;
    color: #ffffff;
}

body.dark button:hover {
    background-color: #ffffff;
    color: #121212;
}

body.dark footer {
    background-color: #1a1a1a;
}